# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

datasets/
.env

qualcheck_output/
qualcheck_output_withcase/

.session.json
qualcheck.txt
qualcheck_design_spec.md
supabase_wiring_instructions.txt

.login_lockout.json
backend_integration_requirements.txt
libraries_used.txt

tests/
.pytest_cache/
supabase_storage_setup.sql
test.py
withcase/
#*.ipynb
@'
essay_qualcheck/
gen2_qualcheck_short_answers/
gen3.5legacy_qualcheck_short_answers/
gen3legacy_qualcheck_short_answers/
legacy_essay_qualcheck/
legacy_qualcheck_short_answers/
qualcheck_short_answers/
codereport_bert/