# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

datasets/
.env

qualcheck_output/
qualcheck_output_withcase/

.session.json
qualcheck.txt
qualcheck_design_spec.md
supabase_wiring_instructions.txt
